<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Animals
	link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css")
	link(rel="stylesheet", href="css/main.css" type="text/css")

	body
		.container.animals#app
			.row
				.col-sm-12
					h1 Animal
			.row
				
				.col-sm-3.animal(v-for="data in datas")
					.top
						.animal_img(v-if="data.album_file" v-bind:style="'background-image: url('+data.album_file+')'")
						.animal_img(v-if="!data.album_file" style="background-image: url('http://animal-adoption.coa.gov.tw/images/pic/noimage_dog.jpg')")
					.bottom
						h2 {{area[data.animal_area_pkid]}}
						
						h3(v-if="data.animal_sex === 'M'") 公
						h3(v-if="data.animal_sex === 'F'") 母
						h3 {{data.shelter_name}}




		script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="bower_components/vue/dist/vue.min.js")
		script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="js/main.js")
		
		
		
		