<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	//- meta(http-equiv="Access-Control-Allow-Origin" content="")
	title animal
	link(rel="stylesheet", href="main.css")
	link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")

body
	script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.min.js")
	script(type="text/javascript", src="main.js")
	